#container {
    height:620px;
    width: 600px;
    background-color: grey;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-content: space-around;

}
#myBar, #myBar1, #myBar2, #myBar3 {
    width: 120px;
    background-color: deeppink;
}
/*
.myBar{
    width: 120px;
    background-color: deeppink;
}
*/
.buttonsStart{
    width:600px;
    display:flex;
    justify-content: space-around;
}

.buttonsDown{
    width:600px;
    display: flex;
    justify-content:space-around;
}

.button{
    width:120px;
    height:25px;
}

.space {
    height: 15px;
}

.reloadePage{
    width:600px;
    display:flex;
    justify-content: space-around;
}

.reloadeButton{
    width:120px;
    height:25px;
}